:root {
    --primary-bg-color: #22252A;
    --secondary-bg-color: #2D3035;
    --green-color: #89e200;
    --orange-color: #ff8547;
    --blue-color: #51cbee;
    --grey-color: #8A8D93;
    --border-color: #3d4148;
    --hover-color: #40444b;
}

body {
    background-color: var(--primary-bg-color);
    padding-top: 67px;
}

#navbar {
    background-color: var(--secondary-bg-color);
    border-bottom: 1px solid var(--border-color);
}

.bg-secondary {
    background-color: var(--secondary-bg-color) !important;
}

.text-light {
    color: var(--grey-color) !important;
}

.content {
    width: 100%;
    position: absolute;
    top: 60px;
    bottom: 0;
    overflow-y: scroll;
    z-index: 0;
    overflow-x: hidden;
}

.banner {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

ul li div {
    color: var(--grey-color);
    padding: 19px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

a {
    text-decoration: none;
    color: var(--grey-color);
}

.blue {
    color: var(--blue-color) !important;
}

.bg-blue {
    background-color: var(--blue-color) !important;
}

.green {
    color: var(--green-color);
}

.bg-green {
    background-color: var(--green-color);
}

.orange {
    color: var(--orange-color);
}

.bg-orange {
    background-color: var(--orange-color);
}



section {
    padding: 1rem 0;
}

.card {
    border-radius: 0;
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
    padding-left: 2rem;
    padding-right: 2rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

.form-control,
.form-control:focus {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8a8d93;
    background-color: var(--secondary-bg-color);
    background-clip: padding-box;
    border: 1px solid var(--border-color);
    appearance: none;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: 0 0 5px var(--blue-color);
}


#latest tbody tr {
    display: flex;
    justify-content: space-between;
}

.text-button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 30%;
}

.table {
    --bs-table-border-color: var(--border-color);
    border-color: var(--border-color);
}

tr:hover {
    background-color: #40444b;
}

.ignore {
    background-color: rgba(190, 36, 36, 0.418);
}

.ignore:hover {
    background-color: rgba(194, 65, 65, 0.418);
}

table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

th {
    background-color: #2D3035 !important;
}

.progress-bar,
.progress {
    --bs-progress-bg: #40444b;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary-bg-color);
}

#outgoing::-webkit-scrollbar-track {
    /* background-color: var(--secondary-bg-color); */
    margin-top: 40px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--grey-color);
}

.btn {
    border-radius: 0px;
}

.btn-plus {
    position: relative;
    width: 40px;
    height: 40px;
    background: var(--secondary-bg-color);
    cursor: pointer;
    /* border: 1px solid var(--blue-color); */

    top: 25%;
}

.btn-plus:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background: var(--grey-color);
    top: 50%;
    left: 50%;
}

.btn-plus:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--grey-color);
    height: 50%;
    width: 4px;
}

.dropdown-menu {
    --bs-dropdown-bg: #3b3f44;
    --bs-dropdown-border-radius: 0px;
    --bs-dropdown-border-color: var(--border-color);
    min-width: 7rem;
}


.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--hover-color);
}

#outgoing_input {
    width: 12rem;
    margin-top: 10px;
}

#outgoing_input::placeholder {
    color: var(--grey-color);
}

#outgoing_input:focus {
    box-shadow: none;
}