{% extends 'core/base.html' %}

{% block banner %}
Register
{% endblock banner %}
{% block path %}
Register
{% endblock path %}
{% block content %}

<div class="container-fluid container-xxl pt-3 text-white background-secondary" style="max-width: 30rem;">
    <form method='POST'>
        {% csrf_token %}
        {% for field in form %}
        <div class="form-floating mb-3">
            {{ field }}
            {{ field.label_tag }}
        </div>

        {% for error in field.errors %}
        <div class="alert alert-danger" role="alert"><strong>{{ error }}</strong></div>
        {% endfor %}
        {% endfor %}
        <div class="text-center mt-4">
            <button type="submit" class="btn bg-blue w-25">Register</button>
        </div>
    </form>
    <div class='text-center mt-4'>
        <a href={% url 'core:home' %} class="">Go back</a>
    </div>
</div>

{% endblock %}