{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href={% static 'base-styles.css' %} />
</head>

<body>

    <nav id='navbar' class="navbar navbar-dark fixed-top">
        <div class="container-fluid mx-2">
            <div>
                <a class="navbar-brand mx-2 fs-2" href={% url 'core:home' %}>Finances</a>
            </div>

            <span class="navbar-text">
                {% if user.is_authenticated %}
                <a class="fs-4 text-decoration-none" href={% url 'authentication:logout' %}>Logout</a>
                {% else %}
                <a class="fs-4 text-decoration-none" href={% url 'authentication:login' %}>Login</a>
                {% endif %}
            </span>
        </div>
    </nav>
    {% comment %} Banner {% endcomment %}
    <div class="banner background-secondary py-3 px-3">
        <div class="container-fluid text-center text-light fs-4">
            <div class="row">
                <div class="col-4 text-start text-nowrap">
                    {% block banner %}
                    {% endblock banner %}
                </div>
                {% if messages %}
                <div class="col-4">
                    {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div style='margin-bottom: 0'
                        class="mx-auto alert alert-warning alert-dismissible fade show fs-5 p-1" role="alert">
                        {{message}}
                        <button style='padding: 0.6rem' type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                    </div>
                    {% else %}
                    <div style='margin-bottom: 0'
                        class="mx-auto alert alert-success alert-dismissible fade show fs-5 p-1" role="alert">
                        {{message}}
                        <button style='padding: 0.6rem' type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div id='content' class="content">
        {% comment %} Breadcrumb {% endcomment %}
        {% if not latest %}
        <div class="container-fluid py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 py-3">
                    <li class="breadcrumb-item "><a class='blue' href={% url 'core:home' %}>Home</a></li>
                    <li class="breadcrumb-item active text-white" aria-current="page">
                        {% block path %}
                        {% endblock path %}
                    </li>
                </ol>
            </nav>
        </div>
        {% endif %}

        {% block content %}{% endblock content %}
    </div>



</body>

<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        var content = document.getElementById("content");
        scrollpos_content = localStorage.getItem('scrollpos_content');
        if (scrollpos_content) content.scrollTop=scrollpos_content;   

        var el = document.getElementById("outgoing");
        scrollpos_el = localStorage.getItem('scrollpos');
        if (scrollpos_el) el.scrollTop=scrollpos_el;   
    });

    window.onbeforeunload = function(e) {
        var content = document.getElementById("content");
        var el = document.getElementById("outgoing");
        localStorage.setItem('scrollpos_content', content.scrollTop);
        localStorage.setItem('scrollpos', el.scrollTop);
    };
</script>

</html>