{% extends 'core/base.html' %}
{% load abs %}

{% block banner %}
{{ report.date|date:"F" }}
{{report.date.year}}
{% endblock banner %}
{% block path %}Overview{% endblock path %}

{% block content %}

<div class="row gx-5 bg-dark m-3 justify-content-center">
    <div class="col-lg-6 col-xl-3">
        <div class="background-secondary text-light fs-4 card">

            <div class="card-body">
                <div class="d-flex justify-content-between align-items-end">
                    <div>Spendings</div>
                    <div class='fs-2 orange'>{{report.total_spendings|floatformat:1|abs }}</div>
                </div>
                <div class="progress my-1" style="height: 3px">
                    <div class="progress-bar bg-orange" role="progressbar" style="width: {{ spendings_bar }}%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-3">
        <div class="background-secondary text-light fs-4 card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-end">
                    <div>Transactions:</div>
                    <div class='blue fs-2'>{{report.number_of_transactions }}</div>
                </div>
                <div class="progress my-1" style="height: 3px">
                    <div class="progress-bar bg-blue blue" role="progressbar" style="width: {{ transactions_bar }}%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-3">
        <div class="background-secondary text-light fs-4 card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-end">
                    <div>Income:</div>
                    <div class='fs-2 green'>{{report.total_income|floatformat:1|abs }}</div>
                </div>
                <div class="progress my-1" style="height: 3px">
                    <div class="progress-bar bg-green" role="progressbar" style="width: {{ income_bar }}%"></div>
                </div>
            </div>
        </div>
    </div>



</div>
<div class="row g-4 bg-dark m-3 mx-5 align-items-stretch justify-content-center">
    <div class="col-10 col-xxl-6">
        <div class="p-3 text-light background-secondary h-100">
            <div class='fw-bold fs-1'>Outgoing</div>
            <div class='overflow-auto' style='height: 600px'>
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th scope="col">Debtor</th>
                            <th scope="col">Value</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in outgoing %}
                        <tr>
                            <td>{{transaction.debtor_name}}</td>
                            <td>{{transaction.transaction_amount}}</td>
                            <td>{{transaction.value_date}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="col-6">
        <div class="p-3 text-light background-secondary">
            <div class='fw-bold fs-1'>Income</div>
            <div class='overflow-auto' style='height: 250px'>
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th scope="col">Debtor</th>
                            <th scope="col">Description</th>
                            <th scope="col">Value</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in income %}
                        <tr>
                            <td class='text-truncate' style='max-width: 10rem'>{{transaction.debtor_name}}</td>
                            <td class='text-truncate' style='max-width: 10rem'>{{transaction.info}}</td>
                            <td>{{transaction.transaction_amount}}</td>
                            <td>{{transaction.value_date}}</td>
                            <td>
                                <form action="/change_category/{{transaction.id}}" method='POST'>
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button style='color: #51cbee' type="submit"
                                        class="text-button fw-bold text-end w-25">&#8250;</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="p-3 mt-4 text-light background-secondary">
            <div class='fw-bold fs-1'>Returns</div>
            <div class='overflow-auto' style='height: 250px'>
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th scope="col">Debtor</th>
                            <th scope="col">Description</th>
                            <th scope="col">Value</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in returns %}
                        <tr>
                            <td class='text-truncate' style='max-width: 10rem'>{{transaction.debtor_name}}</td>
                            <td class='text-truncate' style='max-width: 10rem'>{{transaction.info}}</td>
                            <td>{{transaction.transaction_amount}}</td>
                            <td>{{transaction.value_date}}</td>
                            <td>
                                <form action="/change_category/{{transaction.id}}" method='POST'>
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button style='color: #51cbee' type="submit"
                                        class="text-button fw-bold text-end w-25">&#8250;</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock content %}