{% extends 'core/base.html' %}
{% load static %}
{% load abs %}

{% block banner %}
{{ report.date|date:"F" }}
{{report.date.year}}
{% endblock banner %}
{% block path %}Overview{% endblock path %}

{% block content %}

<div id='overview' class="row gx-5 bg-dark m-3 justify-content-center">
    <div class="col-lg-6 col-xl-3">
        <div class="bg-secondary text-light fs-4 card">

            <div class="card-body">
                <div class="d-flex justify-content-between align-items-end">
                    <div>Spendings</div>
                    <div class='fs-2 orange'>{{report.total_spendings|floatformat:1|abs }}</div>
                </div>
                <div class="progress my-1" style="height: 3px">
                    <div class="progress-bar bg-orange" role="progressbar" style="width: {{ spendings_bar }}%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-3">
        <div class="bg-secondary text-light fs-4 card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-end">
                    <div>Transactions:</div>
                    <div class='blue fs-2'>{{report.number_of_transactions }}</div>
                </div>
                <div class="progress my-1" style="height: 3px">
                    <div class="progress-bar bg-blue blue" role="progressbar" style="width: {{ transactions_bar }}%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-3">
        <div class="bg-secondary text-light fs-4 card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-end">
                    <div>Income:</div>
                    <div class='fs-2 green'>{{report.total_income|floatformat:1|abs }}</div>
                </div>
                <div class="progress my-1" style="height: 3px">
                    <div class="progress-bar bg-green" role="progressbar" style="width: {{ income_bar }}%"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id='transaction-list' class="row g-4 bg-dark m-3 mx-5 align-items-stretch justify-content-center">
    <div class="col-10 col-xxl-6">
        <div class="p-3 text-light bg-secondary h-100">
            <div class="d-flex justify-content-between">
                <div class='fw-bold fs-1'>Outgoing</div>
                <div style='width: 40px; margin-right: 12px'>    
                    <a class="btn btn-outline-secondary btn-plus" data-bs-toggle="modal" data-bs-target="#exampleModal"></a>
                </div>

            </div>
            <div id='outgoing' class='overflow-auto' style='height: 600px'>
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th scope="col">Debtor</th>
                            <th scope="col">Category</th>
                            <th scope="col">Value</th>
                            <th scope="col">Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id='transaction-body'>
                        {% for transaction in outgoing %}
                        <tr id='{{transaction.id}}' {% if transaction.ignore %}class='ignore'{% endif %}>
                            <td>{{transaction.debtor_name}}</td>
                            <td>{{transaction.category}}</td>
                            <td>{{transaction.transaction_amount}}</td>
                            <td>{{transaction.value_date}}</td>
                            <td class='py-1'>
                                <div class="btn-group dropdown dropstart">
                                    <button type="button" class="text-button fw-bold text-end text-light" data-bs-toggle="dropdown" aria-expanded="false">
                                        &#10247;    
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <button class="dropdown-item text-white" onclick="change_ignore({{transaction.id}});">
                                                Ignore
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item text-white" onclick="change_ignore({{transaction.id}});">
                                                Modify
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item text-white" onclick="change_ignore({{transaction.id}});">
                                                Delete
                                            </button>
                                        </li>                        
                                    </ul>
                                  </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="col-6">
        <div class="p-3 text-light bg-secondary">
            <div class='fw-bold fs-1'>Income</div>
            <div class='overflow-auto' style='height: 250px'>
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th scope="col">Debtor</th>
                            <th scope="col">Description</th>
                            <th scope="col">Value</th>
                            <th scope="col">Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in income %}
                        <tr>
                            <td class='text-truncate' style='max-width: 10rem'>{{transaction.debtor_name}}</td>
                            <td class='text-truncate' style='max-width: 10rem'>{{transaction.info}}</td>
                            <td>{{transaction.transaction_amount}}</td>
                            <td>{{transaction.value_date}}</td>
                            <td>
                                <form action="/change_category/{{transaction.id}}" method='POST'>
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button style='color: #51cbee' type="submit"
                                        class="text-button fw-bold text-end w-25">&#8250;</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="p-3 mt-4 text-light bg-secondary">
            <div class='fw-bold fs-1'>Returns</div>
            <div class='overflow-auto' style='height: 250px'>
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th scope="col">Debtor</th>
                            <th scope="col">Description</th>
                            <th scope="col">Value</th>
                            <th scope="col">Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in returns %}
                        <tr>
                            <td class='text-truncate' style='max-width: 10rem'>{{transaction.debtor_name}}</td>
                            <td class='text-truncate' style='max-width: 10rem'>{{transaction.info}}</td>
                            <td>{{transaction.transaction_amount}}</td>
                            <td>{{transaction.value_date}}</td>
                            <td>
                                <form action="/change_category/{{transaction.id}}" method='POST'>
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button style='color: #51cbee' type="submit"
                                        class="text-button fw-bold text-end w-25">&#8250;</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<section id='report' class='row g-4 mx-5 justify-content-center mb-5'>
    <div class="col-10 col-xxl-6 ">
        <div class='bg-secondary p-3 h-100'>
            <div class='fs-1 fw-bold text-light'>Category Breakdown</div>
            <div style='height: 500px'>
                <canvas id="categories"></canvas>
            </div>
            <script>
                const cat = document.getElementById('categories');
                new Chart(cat, {
                    type: 'pie',
                    data: {
                        labels: ['Groceries', 'Food', 'Travel', 'Clothing','Transfers','Entertainment', 'Other'],
                        datasets: [{
                            data: [{% for value in categories.values %}{{ value }},{% endfor %}],
                    borderWidth: 0,
                    backgroundColor: ["rgb(75,242,192)", "#118bae", "#7fd9f3", "#c5eefa", '#51fbee', '#51cbee', '#ddfdff'],
                    //hoverBackgroundColor: ["#723ac3", "#864DD9", "#9762e6", "#a678eb"],
                            },
                        ],
                    },
                    options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: true,
                            position: 'left',
                            labels: {
                                font: {
                                    size: 20
                                }
                            }
                        }
                    }
                }
                });
            </script>
        </div>
    </div>

    <div class="col-10 col-xxl-6">
        <div class='bg-secondary p-3 h-100'>
            <div class='fs-1 fw-bold text-light'>Timeline</div>
            <div style='height: 500px; box-sizing: content-box;' class="m-2">
                <canvas id="timeline"></canvas>
            </div>
            <script>
                const timeline = document.getElementById('timeline');
                new Chart(timeline, {
                    type: 'line',
                    data: {
                        labels: ['1', '4', '7', '10', '13', '16', '19', '22', '25', '28'],
                        datasets: [{
                            data: [{% for x in timeline %}{{ x }},{% endfor %}],
                    fill: true,
                    borderColor: 'rgb(75, 192, 192)',
                    backgroundColor: 'rgba(0,0,0,0.2)',
                    tension: 0.4,
                            },
                        ],
                    },
                    options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: false,
                        }
                    },
                    scales: {
                        x: {
                            display: false
                        }
                    }
                }
                });
            </script>
        </div>
    </div>



</section>



<script>
    function change_ignore(id){ 
        var CSRF_TOKEN = '{{ csrf_token }}';
        fetch(`/api/transaction/${id}`, {
            method: "PUT",
            headers: {'X-CSRFToken': CSRF_TOKEN},
        })
        .then((response) => response.json())
        .then((data) => console.log(data));
        $("#transaction-body").load(location.href + ` #transaction-body > *`);
    }
</script>
{% endblock content %}


{% block modal_title %}Custom transaction{% endblock modal_title %}
{% block modal_body %}
<form id="custom_transaction_form" onsubmit="event.preventDefault(); return doForm()">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Date</label>
        <input type="date" class="form-control" id="value_date" name='value_date' aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Amount</label>
    <input type="number" class="form-control" id="transaction_amount" name='transaction_amount' required>
    </div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Name</label>
    <input type="text" class="form-control" id="debtor_name" name='debtor_name' required>
    </div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Info</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
</form>

<script>
    function doForm () {
        var CSRF_TOKEN = '{{ csrf_token }}';
        
        var data = new FormData(document.getElementById("custom_transaction_form"));

        fetch("/api/create_custom/", { method:"post", body:data, headers: {'X-CSRFToken': CSRF_TOKEN}, })
        .then(res => res.text())
        .then(txt => console.log(txt))
        .catch(err => console.error(err));
        
        $('#exampleModal').modal('hide');
        $("#transaction-body").load(location.href + ` #transaction-body > *`);

        // (B3) PREVENT DEFAULT FORM SUBMIT
        return false;
    }
</script>
{% endblock modal_body %}
{% block modal_submit %}
<button type="sumbit" class="btn btn-outline-secondary text-white" form='custom_transaction_form'>Add</button>
{% endblock modal_submit %}