{% extends 'core/base.html' %}

{% block banner %}
{{report.month_year}}
{% endblock banner %}
{% block path %}Overview{% endblock path %}

{% block content %}

<div class="row g-4 justify-content-center bg-dark mx-3">
    <div class="col-10 col-xl-6 ">
        <div class="p-3 text-light background-secondary">
            <div class='fw-bold fs-1'>Outgoing</div>
            <div class='overflow-auto' style='height: 500px'>
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th scope="col">Debtor</th>
                            <th scope="col">Value</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>     
                        {% for transaction in outgoing %}
                        <tr>
                            <td>{{transaction.debtor_name}}</td>                            
                            <td>{{transaction.transaction_amount}}</td>
                            <td>{{transaction.value_date}}</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="col-10 col-xl-6 ">
        <div class="p-3 text-light background-secondary">
            <div class='fw-bold fs-1'>Incoming</div>
            <div class='overflow-auto' style='height: 500px'>
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th scope="col">Debtor</th>
                            <th scope="col">Description</th>
                            <th scope="col">Value</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody >     
                        {% for transaction in incoming %}
                        <tr >
                            <td class='text-truncate' style='max-width: 10rem'>{{transaction.debtor_name}}</td>
                            <td class='text-truncate' style='max-width: 10rem'>{{transaction.info}}</td>
                            <td>{{transaction.transaction_amount}}</td>
                            <td>{{transaction.value_date}}</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

{% endblock content %}